body {	
	background-size: 100% 100%;
	background-image: url("../imgs/looseleaf.jpg");
	background-repeat: no-repeat;
}

header {
	font-family: 'Bad Script', cursive;	
	height: 100px;
	border-bottom: 4px solid black;
}

h3 {
	display: inline-block;
	float: left;	
	font-size: 2.5em;	
	color: #282828;	
	margin-left: 3%;	
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
}

nav {
	display: inline-block;
	float: right;	
	margin-right: 80px;
}

nav ul {
	margin: 0 auto;
}

nav li {
	display: inline-block;
	padding: 10px;	
	background-color: #f30;
	font-size: 1.5em;
}

nav a {
	color: white;
}

nav li:hover {
	font-weight: bold;
}

div {
	width: 80%;
	margin-top: 2.5%;
}

div a {
	color: #f30;
}

section {
	width: 65%;
	margin: 0 auto;
}

h2, h4 {
	clear: both;
	text-align: center;
}

section ul {
	line-height: 2em;
	margin-top: 8%;
}

section ul a:hover {
	color: #f30;
}

table, tr, td {
	border: solid 1px black;
	text-align: center;
	padding: 5px;
}