p {
  font-size: 20px;
}

h3 {
  text-decoration: underline;
}

#title{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

#sidebar {
  border: 2px solid orange;
  width: 20%;
  float: left;
  position: fixed;
}

#content {
  border: 2px solid orange;
  width: 78%;
  float: right;
}