html {
	font-family: 'Playfair Display', serif;
}

body {
	height: 100%	
}

header {
	/*background-color: green;*/
	height: 100px;
	border-bottom: 8px solid black;
}

h3 {
	display: inline-block;
	float: left;
	/*font-family: 'Bad Script', cursive;*/
	font-size: 2.5em;
	/*text-decoration: underline;*/
	color: #282828;	
	margin-left: 3%;
	/*background-color: yellow;*/
}

span {
	font-size: 0.75em;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
}

nav {
	display: inline-block;
	float: right;
	/*background-color: purple;*/
	margin-right: 80px;
}

nav ul {
	margin: 0 auto;
}

nav li {
	display: inline-block;
	padding: 10px;	
	background-color: #f30;
	font-size: 1.5em;
}

nav a {
	color: white;
}

nav li:hover {
	font-weight: bold;
}

div {
	display: inline-block;
	font-size: 1.5em;
	height: 65%;
	margin-top: -2%;
}

h4 {
	text-align: center;
	margin-bottom: 0;
	/*margin-top: 10%;*/
}

#about {
	width:65%;	
	float: left;
	clear: both;
	background-color: #0C090A;
	color: #D1D0CE;
}

#about p {
	padding: 2.5%;
	width: 60%;
	margin-left: 5%;
}

#contact {
	width: 35%;	
	float: right;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 3em;
	/*background-color: aqua;*/
}

#contact li {	
	/*clear: left;*/
}

#contact h4 {
	margin-top: 2.5%;
	border-bottom: 8px solid black;
	color: #f30;
	font-size: 1.25em;

}

#contact a:hover {
	font-weight: bold;
}

img {
	margin-right: 2%;
	vertical-align: middle;
}

footer {
	clear: both;
	text-align: center;
	background-color: #D1D0CE;
}

footer a {
	color: #f30;
}
